<mat-toolbar class="header" color="primary" role="heading">
  <nav class="header__nav">
    <button
      mat-button
      class="header__menu"
      type="button"
      (click)="onToggleSidenav()"
      aria-label="Toggle sidenav"
    >
      <fa-icon [icon]="['fas', 'bars']" size="x2"></fa-icon>
    </button>
    <ng-container *ngFor="let link of links">
      <ng-container *ngIf="link.internalLink; else externalLink">
        <a
          disabled="true"
          mat-button
          class="header__item"
          [routerLink]="link.path"
        >
          {{ link.title }}
        </a>
      </ng-container>
      <ng-template #externalLink>
        <a mat-button class="header__item" [href]="link.path">
          {{ link.title }}
        </a>
      </ng-template>
    </ng-container>
  </nav>
</mat-toolbar>
