@import '~src/scss/variables';

app-root {
  .mat-drawer {
    background-color: $background-color;
  }

  main {
    min-height: calc(100vh - 168px);
  }

  @media screen and (min-width: 600px) {
    main {
      min-height: calc(100vh - 192px);
    }
  }
}
