@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'my-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {
  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}


/* Fonts */
@import '../assets/fonts/stylesheet.scss';

/* Var colors */
* {
  --grey-1: #292f33;
  --grey-2: #40494f;
  --grey-3: #7a9888;
  --green: #33e6a4;
  --white: #e8e3d0;
}
