// https://material.io/tools/color/#!/?view.left=0&view.right=0
// http://mcg.mbitson.com

@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

$primary-pallete: (
  50 : #e8e9ea,
  100 : #c6c8ca,
  200 : #a0a4a7,
  300 : #798084,
  400 : #5d6469,
  500 : #40494f,
  600 : #3a4248,
  700 : #32393f,
  800 : #2a3136,
  900 : #1c2126,
  A100 : #6eb7ff,
  A200 : #3b9dff,
  A400 : #0884ff,
  A700 : #0077ee,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$secondary-pallete: (
  50 : #e7fcf4,
  100 : #c2f8e4,
  200 : #99f3d2,
  300 : #70eebf,
  400 : #52eab2,
  500 : #33e6a4,
  600 : #2ee39c,
  700 : #27df92,
  800 : #20db89,
  900 : #14d578,
  A100 : #ffffff,
  A200 : #d2ffe8,
  A400 : #9fffcd,
  A700 : #85ffc0,
  contrast: (
    50: $dark-secondary-text,
    100: $dark-secondary-text,
    200: $dark-secondary-text,
    300: $dark-secondary-text,
    400: $dark-secondary-text,
    500: $light-secondary-text,
    600: $light-secondary-text,
    700: $light-secondary-text,
    800: $light-secondary-text,
    900: $light-secondary-text,
    A100: $dark-secondary-text,
    A200: $light-secondary-text,
    A400: $light-secondary-text,
    A700: $light-secondary-text,
  )
);

// $c-primary-light: #6b747b;
// $primary-rgba: rgba(#6b747b, .8);
// $c-primary: #40494f;
// $c-primary-dark: #192227;
// $c-primary-on-text: #ffffff;

// $c-secondary: #33e6a4;
// $c-secondary-on-text: #000000;
// $c-secondary-light: #76ffd6;
// $c-secondary-dark: #00b375;

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($primary-pallete);
$my-theme-accent: mat-palette($secondary-pallete);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-dark-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);

@include angular-material-theme($my-theme);

// specify theme class eg: <body class="my-theme"> ... </body>
.my-light-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}
