@import '~src/scss/variables';

mat-toolbar-row {
  justify-content: center;
}

.footer__icon {
  color: $c-primary;
  font-size: 40px;
  margin: 0 6px;
  transition: all 100ms ease-in-out;

  &:hover {
    color: $c-grey;
  }
}

.mat-toolbar-small {
  font-size: 80%;
  font-weight: lighter;
}

.footer__icon_warn {
  color: $c-green;
  padding: 0 4px;
}

.footer__icon_accent {
  color: $c-grey;
  font-weight: 700;
  transition: all 100ms ease-in-out;
  padding: 0 4px;

  &:hover {
    color: $c-green;
  }
}

fa-icon:not(.footer__icon_warn) {
  display: flex;
  justify-content: center;
  background-color: $c-neutro;
  padding: 6px;
  border-radius: 6px;
  min-width: 52px;
}
