@import "~src/scss/variables";

.footer__icon {
  color: $c-neutro;
  margin: 0 6px;
  transition: all 100ms ease-in-out;

  &:hover {
    color: #7a9888;
  }
}

.footer__icon_warn {
  color: #33e6a4;
}

.footer__icon_accent {
  color: #7a9888;
  font-weight: 700;
  transition: all 100ms ease-in-out;

  &:hover {
    color: #33e6a4;
  }
}
