@import '~src/scss/variables';

mat-nav-list {
  min-width: 200px;
}

.sidenav__item {
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0;
  text-transform: uppercase;
}

// .mat-list-item-disabled {
//   background-color: transparent;
//   color: $c-neutro-disabled;
// }
